
html.flexbox nav#access {
	
	& ul {
		display: -moz-box;
	    display: -webkit-box;
	    display: box;
		width:100%;
		& li {
			& a {
			}
			float:none;			
			-moz-box-flex: 1;
		    -webkit-box-flex: 1;
		    box-flex: 1;
			text-align:center;
			
			&:first-child {
				border-left:none;
			}
		}
	}
	
}
nav#access {
	width:$base-width;
	
	& ul {
		width:100%;
		& li {
			& a {
				display:block;
				height:100%;
				width:100%;
				margin:0;
			}
			float:left;
			display:block;

/*			border-left:1px solid #f0f0f0;*/
			text-align:center;
			
			&:first-child {
				border-left:none;
			}
		}
	}
}