// Our foundation
@import "normalizev2";

// Simple css grid
// @import "flurid";

//Sematic Grid
@import "sematic_grid";

@import "mixins";
@import "compass/css3";
@import "compass/utilities/general/float";

// Define common variables
$gurustu: #009AEA;
$base-color: #009AEA;
$secondary-color: #009AEA;
$layout-width: 1220px;
$font-color: #FFF;
$font-size: 16px;
$link-color: $base-color;
$bg-color: #E1E1E1;

// Specific theme imports, might move to bottom.
@import "top_nav";
@import "sidebar";
@import "webonly";
@import "mobileonly";
@import "slider";
@import "ie";

// Must have
* { 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255,255,255,.3) !important;
}

body {

	font-size: 100%;
	width: 100%;
	overflow-y: scroll; /* keeps page from shifting on shorter pages */
	@include clearfix;
	background-color: $bg-color;

}

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

a {
	color: $link-color;
	text-decoration: none;
	@include single-transition( all, .1s, ease-in-out );
	-webkit-tap-highlight-color: rgba(255,255,255,.3) !important;

	&:hover {
		color: lighten( $link-color, 10% );
	}

}

h1.site-title a, h2.site-title a {
	// Logo, use sprite mixin
	display: block;
	color: #EEE;
}

.wrap {
	max-width: $layout-width;
	margin: 0 auto;
	@include clearfix;
	/*
		Attention: There must be a better way to center our content and padding it at the same time.

	*/
	padding: 1em;

}

// This makes tables useful for two column layouts
table {
	width: 100%;
	table-layout:fixed;
}
/* Selection colours (easy to forget) */
::selection 	 	{background: $base-color;}
::-moz-selection 	{background: $base-color;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: transparent;}


@media screen and (min-width: 768px) {
	header {
		@include column(12);
	}
	article {
		@include column(8);
		
		&.no-sidebar {
			@include column(12);
		}
	}
	#sidebar {
		@include column(4);
	}
	nav {
		@include column(12);
	}
	article.third {
		@include column(4);
	}
	.postlist {
		@include column(8);
		article {
			float:none;
		}
	}
}


article.third {
	background-color: $base-color;
	color: #FFF;
	padding: 1em;
	margin-top: 1%;
}

.base-color {
	background-color: $base-color;
}



