// Our foundation
@import "base/normalizev2"; 
// @import "foundation";
// @import "foundation/variables";
@import "base/mixins";
@import "base/sprite";

// Define common variables
$gurustu: #009AEA;
$base-color: $gurustu;
$secondary-color: #444;
$layout-width: 1024px;
$font-color: #FFF;
$link-color: $base-color;
$bg-color: #fff;

// Specific theme imports, might move to bottom.
@import "top_nav";
@import "sidebar";
// @import "webonly";
// @import "mobileonly";
@import "slider";

// Must have. Makes browsers use the same box model
* { 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-size: 100%;
	width: 100%;
	overflow-y: scroll; /* keeps page from shifting on shorter pages */
	@include clearfix;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}
a {
	color: $link-color;
	text-decoration: none;
	@include single-transition( all, .1s, ease-in-out );
	-webkit-tap-highlight-color: rgba(255,255,255,.3) !important;

	&:hover {
		color: lighten( $link-color, 10% );
	}

}
h1.site-title a, h2.site-title a {
	// Use main sprite mixin for logos
	display: block;
}
	
.wrap {
	max-width: $layout-width;
	margin: 0 auto;
	padding: 1em;
	@include clearfix;

}

// This makes tables useful for two column layouts
table {
	width: 100%;
	table-layout:fixed;
}

/* Selection colours (easy to forget) */
::selection 	 	{background: $base-color;}
::-moz-selection 	{background: $base-color;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: transparent;}