nav.access {

	ul {
		margin: 0;
		padding: 0;
		overflow:hidden;
	}
	li {
		
		float: left;
		display: block;
		padding-right: 1px;

		&:last-child {
			padding-right: 0px;
		}
		&.current-menu-item a {

		}
		
		a {
			display: block;
			text-align: center;
			color: #222;
			text-transform: uppercase;
			padding: 8px 15px 6px 15px;
			border: 1px solid #000;
		}
		a:hover { 
			color: #FFF;
			background-color: darken( $secondary-color, 10% );
		 }
	}

}

/*

social

*/
ul.guru-social {
	
	list-style: none;

	li {
		float:left;
		margin-right: 3px;
		overflow:hidden;
	}

	li a {
		display: block;
		@include main-sprite(34px, 34px, 0px, -104px);
	}
	li a:hover {
		@include opacity(.6);
	}

	li.email a {
		background-position: -36px -104px;
	}
	li.linkedin a {
		background-position: -145px -104px;
	}
	li.twitter a {
		background-position: -108px -104px;
	}
	li.facebook a {
		background-position: 1px -104px;
	}
	li.google a {
		background-position: -72px -104px;
	}
}