// Here's where we define some default constants
@import "partials/base";

body{

	color:$base-color;

}

h1, h2, h3, h4, h5, h6{
}

h1{ @include adjust-font-size-to( 24px ); }
h2{ @include adjust-font-size-to( 22px ); }
h3{ @include adjust-font-size-to( 20px ); }
h4{ @include adjust-font-size-to( 18px ); }
h5{ @include adjust-font-size-to( 16px ); }
h6{ @include adjust-font-size-to( 14px ); }


a{
	text-decoration:none;
	color: $base-color;
	&:hover{ color: $guru-color; }
	&:visited{
		color: $base-color;
	}
	@include single-transition( all, $base-transition-time, ease-in-out );
}

b,strong{
	color: $guru-color;
	font-weight: 300;	
}

p{
	@include margin-leader(0.5);
	@include margin-trailer(0.5);
	@include adjust-font-size-to(14px);
}

input, textarea{
	
	&:focus{
		background: lighten( $base-button-color, 55% );
	}
}


/* Parts */

$sidebar-width: 180px;



/* End Parts */


.wrap{
	width:90%;
	margin:0 5%;
}

header h1, header h2 {
	//
	// If using an image for the logo (as on most sites we do), uncomment the following block
	// and set the correct values for the last few lines
	// 
	//display:block;
	//text-indent:-999em;
	//@include main-sprite;
	//height:;
	//width:;
	//background-position:0 0;
	
}

header h1, header h2, nav#access {
	text-align:center;
}

.clearfix{
	@include pie-clearfix;
}
.alignleft{
	@include float-left;
	margin-right: 1em;
}
.alignright{
	@include float-right;
	margin-left: 1em;
}
.alignnone{}
.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


$mobile-menu-height: 4em;
$mobile-menu-color: #E7E9EF;

#footer {
	& .foot-left, & .foot-right {
		display:block;
		text-align:center;
		float:none;
	}	
}

@media screen and (min-width: 550px) {
	header h1, header h2, nav#access {
		text-align:left;
	}
	.wrap{
		max-width:$base-width;
		margin:0 auto;
	}
	
	nav#access {
		& li {
			float:left;
			margin-left:2em;
			&:first-child {
				margin-left:0;
			}
		}
		
	}

	@import "theme/header";
	@import "theme/top_nav";
	@import "theme/body";
	@import "theme/front_page";
	@import "theme/sidebar";
	@import "theme/footer";
	@import "theme/page_post";

	//@import "theme/banner_bars";
	//@import "theme/rotator";
	//@import "theme/footer_nav";
	//@import "theme/page_contact_us";
	//@import "theme/contact_form";
	//@import "theme/mailchimp_subscribe";
	//@import "theme/photo_gallery";
	
}
