// Here's where we define some default constants
@import "partials/base";

$heading-font: "";
$body-font: "";
$layout-width: 1100px;

body{
	
	color:$base-color;
}

ul{
	
	list-style: none;
	margin-left: 0;
}

a{
	
	text-decoration: none;
}

// Mobile Only
@media screen and (max-width: 550px) {
	
	.mobile-menu{
		
		display: block;
		text-align: center;
		line-height: 50px;
	}
	
	.up{
		
		height: 0;
		overflow: hidden;
	}
	
	.down{
		
		height: auto;
	}
	
	#header .container, #footer .container, .access .menu, #rotator{
		
		margin: 0 15px;
	}
	
	#header{
		
		& #logo{
			
			margin: 0 auto;
		}
	}

	.access{
		
		& div.menu{
			
			& > ul{
				
				& li{
					
					display: block;
					
					& a{
						
						display: block;
						text-align: center;
					}
				}
			}
		}
	}

	#footer{
		
		& .foot-left, & .foot-right{
			
			text-align: center;
			padding: 20px 0;
		}
	}
}//END Mobile Only

// Web Only
@media screen and (min-width: 551px) {

	.clearfix{
		@include pie-clearfix;
	}
	.alignleft{
		@include float-left;
		margin-right: 1em;
	}
	.alignright{
		@include float-right;
		margin-left: 1em;
	}
	.alignnone{}
	.aligncenter{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	
	.mobile-menu{
		
		display: none;
	}
	
	#header .container, #footer .container, .access .menu, #rotator{
		
		width: $layout-width;
		margin: 0 auto;
	}
	
	.access{
		
		& div.menu{
			
			& > ul{
				
				display: table-row;
				
				& li{
					
					display: table-cell;
					
					& a{
						
						display: block;
					}
				}
			}
		}
	}
	
	#footer{
		
		& .foot-left, & .foot-right{
			
			width: 50%;
		}
		
		& .foot-left{ @include float-left; }
		& .foot-right{ @include float-right; text-align: right; }
	}
}// END Web Only


#header{
	
	& #logo{
		
		//@include main-sprite(w/h/x/y);
	}
}

.guru-social{
    		
    display: table-row;
    
    & li{
        
        display: table-cell;
        
        & a{
        	
        	display: block;
        }
    }
}