@mixin main-sprite($w:0,$h:0,$x:0,$y:0){
	
	display: block;
	background-image:url("../images/sprite.png");
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	background-position: $x $y;
	text-indent: -9999px;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

@mixin base-shadow(){

	@include box-shadow( darken($font-color, 30%), 0, 0px, 12px, -4px );
	
	.ie9 &{
		
		@include box-shadow( darken($font-color, 30%), 0, 0px, 20px, -4px );
	}
}

@mixin base-gradient( $light: $base-button-color, $dark: darken($base-button-color, 30%) ){
	
	background: $dark;
	@include background(
		linear-gradient(
			top,
			$light 0%,
			$dark 100%
		)
	);
}

@mixin base-full-gradient( $light: $base-button-color, $dark: darken($base-button-color, 30%) ){

	background: $dark;
	@include background(
		linear-gradient(
			top,
			$dark 0%,
			$light 50%,
			$dark 100%
		)
	);
}