//
// CSS for the specific theme contact-page-template
//

$map-width: 460px;

/** Contact Us Page Template **/

.guruContactPage{
	@include margin-trailer;
}
#guruMap{
	display:inline-block;
	width: $map-width;

	@include margin-leader(0.5);

	& .mapp-directions-div{
		@include margin-leader;
	}

}
#guruAddy{
	display:inline-block;
	vertical-align:top;
	margin-left:10px;
	
	@include adjust-font-size-to( 16px, 1.5 );

	
	& #mappUserAddy{ width: 150px }
	
	& strong{
		color: $base-header-color;
		font-weight:normal;
		
		width:150px;
	}
	
}

#guruAddy #saddr{width: 130px}

.ie #guruMap{
	@include float-left;
}
.ie #guruAddy{
	@include float-right;
}

a.directions-link{
	
}

#guruAddy em, .cbox section em{
	font-style:normal;
	padding-left:13px;
	display:block;
	font-size:14px;
	color:#7d7d7d;
	line-height:18px;
}

/** End Contact Us Page Template **/